* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

/* reset */


.flat-vertical-space {
    padding-top: 45px;
    padding-bottom: 45px;
}


/* navbar */
.container {
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;

}

nav {
    padding: 10px;

    background-color: #add8e6;
}

nav .container>* {
    border: dashed 2px black;
    /* test */

    padding: 10px;

}

nav .container {
    display: flex;

    background-color: #daa521;
}



nav .content-left {
    width: 100px;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

nav .content-center {
    flex-grow: 1;
}

nav .content-center ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 12px;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

li {
    list-style-type: none;
}

nav .content-right {
    width: 100px;

    text-align: right;

    background-color: #daa521;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end navbar */

/* hero-container */

.hero-container {
    display: flex;
    justify-content: center;
    align-content: center;

    background-color: #00008b;
}

.hero-container .hero-body {
    width: 945px;
    height: 415px;

    flex-basis: auto;

    background-color: #ee82ee;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end hero container */

/* grid 1 */

.grid-1 {
    display: flex;
    background-color: #ffffff;
}

.grid-1 .light-blue-body {
    flex-grow: 1;
    flex-basis: auto;

    background-color: #1d90ff;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

.grid-1 .pink-body {
    width: 500px;
    height: 520px;

    flex-basis: auto;

    background-color: #ffc0cb;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end grid 1 */

/* grid 2 */
.grid-2 {
    display: flex;
    background-color: #d3d3d3;
}

.grid-2 .light-blue-body-2 {
    flex-grow: 1;

    flex-basis: auto;

    background-color: #1d90ff;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

.grid-2 .pink-body-2 {
    width: 500px;
    height: 520px;

    flex-basis: auto;

    background-color: #ffc0cb;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end grid 2 */

/* grid 3 */
.grid-3 {
    display: flex;
    background-color: #ffffff;
}

.grid-3 .light-blue-body-3 {
    flex-grow: 1;
    flex-basis: auto;

    background-color: #1d90ff;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

.grid-3 .pink-body-3 {
    width: 500px;
    height: 520px;

    flex-basis: auto;

    background-color: #ffc0cb;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end grid 3 */

/* grid 4 */
.grid-4 {
    display: flex;
    background-color: #d3d3d3;
}

.grid-4 .green-body {
    width: 1250px;
    height: 935px;

    flex-basis: auto;

    background-color: #238b21;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end grid 4 */

/* grid 5 */
.grid-5 {
    display: flex;

    padding-top: 15px;
    padding-bottom: 42px;

    background-color: #23272a;
}

.grid-5 .dark-pink-body {
    width: 370px;
    height: 600px;

    flex-basis: auto;

    background-color: #f08080;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

.grid-5 .acquamarina-body {
    flex-grow: 1;

    display: flex;

    background-color: #1eb2aa;

    /* test */
    border: 1px solid black;
    border-style: dashed;

}

.grid-5 .acquamarina-body .column-body-1 {
    flex-grow: 1;

    border: 1px solid white;
    border-style: dashed;

}

.grid-5 .acquamarina-body .column-body-2 {
    flex-grow: 1;

    border: 1px solid white;
    border-style: dashed;

}

.grid-5 .acquamarina-body .column-body-3 {
    flex-grow: 1;

    border: 1px solid white;
    border-style: dashed;

}

.grid-5 .acquamarina-body .column-body-4 {
    flex-grow: 1;

    border: 1px solid white;
    border-style: dashed;

}



/* end grid 5 */