* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

/* reset */

body {
    min-width: 1000px;

    /* test */
    background-color: #444851;
}

main {
    height: 100%;

    /* test */
    /* background-color: #ec5044; */
}

/* navbar */
.navbar {
    display: block;

    background-color: #add8e6;
}

.flat-side-size {
    padding-left: 275px;
    padding-right: 275px;
}

.navbar .navbar-content {
    height: 72px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .content-left {
    height: 30px;

    display: flex;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 25%;

    background-color: #daa521;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

.navbar .content-center {
    height: 30px;

    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-basis: 50%;

    background-color: #daa521;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}


.navbar .content-right {
    height: 30px;

    display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 25%;

    background-color: #daa521;

    /* test */
    border: 1px solid black;
    border-style: dashed;
}

/* end navbar */

/* hero-container */

.hero-container {
    display: flex;
    justify-content: center;
    align-content: center;

    padding-top: 45px;
    padding-bottom: 45px;

    background-color: #00008b;
}

.hero-body {
    width: 945px;
    height: 415px;

    background-color: #ee82ee;
}